body {
  text-align: center;
  background: linear-gradient(to right, #000428, #004e92);
}
p {
  font-size: 2rem;
}
.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#title{
  font-size: 5vw;
  color: #4CA1AF;
  font-weight: 800;
}
#press{
  font-size: 2rem;
  color: #F29492;
}
.box {
  border-radius: 30%;
  border: 3px solid black;
  height: 150px;
  width: 150px;
  text-align: center;
  margin-bottom: 1rem;
}
.box1 {
  margin: 1rem;
}
.red {
  background-color: rgb(255, 1, 1);
}
.blue {
  background-color: rgb(25, 0, 255);
}
.green {
  background-color: rgb(4, 248, 57);
}
.yellow {
  background-color: rgb(255, 230, 1);
}
.flash {
  background-color: white;
}
.userFlash {
  background-color: rgba(45, 155, 170, 0.849);
}